{% extends "TeachiMaterialBundle::layout.html.twig" %}

{% block content %}

<header class="book">{{ book.title | raw }}</header>

<span class="author">
    {{ book.author.givenName }} {{ book.author.familyName }}
</span>

{% if book.chapters %}
    <header class="toc">{{ "Table of contents" | trans }}</header>

    <article id="table-of-contents">
        
        {% for chapter in book.chapters %}
            <h3>
                <a href="{{ url('material_chapter', { 'book': book.link, 'chapter': chapter.id }) }}">
                    {{ chapter.title }}
                </a>
            </h3>
        {% endfor %}

    </article>
{% else %}
    <h2>{{ "No chapters" | trans }}</h2>
{% endif %}
        
{% endblock %}