{% extends "TeachiMaterialBundle::layout.html.twig" %}

{% block content %}

<h1>{{ book.title | raw }}</h1>

<span class="author">
    {{ book.author.givenName }} {{ book.author.familyName }}
</span>

{% if book.getChapters %}
    <h2>{{ "Table of contents" | trans }}</h2>

    <article id="table-of-contents">
        
        {% for chapter in book.getChapters %}
            <h4>
                <a href="{{ url('material_chapter', { 'book': book.link, 'chapter': chapter.id }) }}">
                    {{ chapter.title }}
                </a>
            </h4>
        {% endfor %}

    </article>
{% else %}
    <h2>{{ "No chapters" | trans }}</h2>
{% endif %}
        
{% endblock %}