{% extends "TeachiMaterialBundle::layout.html.twig" %}

{% block content %}

<h1>{{ book.title | raw }}</h1>

<span class="author">
    {{ book.author.givenName }} {{ book.author.familyName }}
</span>

<article>
    
    {% for chapter in book.getChapters %}
        <h2>{{ chapter.title }}</h2>
    {% else %}
        <h2>{{ "No chapters" | trans }}</h2>
    {% endfor %}
    
</article>
        
{% endblock %}