{% extends "TeachiMaterialBundle::layout.html.twig" %}

{% block title %}{{ chapter.title | striptags }} - {{ chapter.book.title | striptags }}{% endblock %}

{% block content %}

<header class="book">
    {{ chapter.book.title | raw }}
</header>

<span class="author">
    {{ chapter.book.author.givenName }} {{ chapter.book.author.familyName }}
</span>

<ul class="pages">
    {% for chapter in chapter.book.chapters %}
        <a href="{{ url('material_chapter', { 'book': chapter.book.link, 'chapter': chapter.id }) }}" title="{{ chapter.title }}">
            <li>
                {{ chapter.number }}
            </li>
        </a>
    {% endfor %}
</ul>

<header class="chapter">
    {{ chapter.title }}
</header>

{% for content in contents %}
    {{ content | raw }}
{% else %}

{% endfor %}

{% endblock %}