{% extends "TeachiMaterialBundle::layout.html.twig" %}

{% block title %}{{ chapter.title | striptags }} - {{ chapter.book.title | striptags }}{% endblock %}

{% block content %}

{% javascripts output="/coffee/material.coffee" '@TeachiMaterialBundle/Resources/coffee/material.coffee' %}
    <script type="text/coffeescript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<header class="book">
    {{ chapter.book.title | raw }}
</header>

<span class="author">
    {{ chapter.book.author.givenName }} {{ chapter.book.author.familyName }}
</span>

<ul class="pages">
    {% for chapter in chapter.book.chapters %}
        <a href="{{ url('material_chapter', { 'book': chapter.book.link, 'chapter': chapter.id }) }}" title="{{ chapter.title }}">
            <li>
                {{ chapter.number }}
            </li>
        </a>
    {% endfor %}
</ul>

<header class="chapter">
    {{ chapter.title }}
</header>

<ol id="sortable-content">
    {% for content in chapter.contents %}
        <li id="content_block_{{ content.id }}" data-id="{{ content.id }}" class="content-block">
            {{ content | raw }}
        </li>
    {% else %}

    {% endfor %}
</ol>

{% endblock %}